@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: "SUIT";
    font-size: 16px;
    line-height: 26px;
    color: #333;
    min-width: 1320px;
}

/* top */
#top {
    width: 1320px;
    height: 46px;
    margin: 0 auto;
}

#top ul {
    float: right;
}

#top ul li {
    float: left;
    padding: 10px 5px;
}

#top ul li a:hover {
    text-decoration: underline;
}

/* header */
header {
    position: relative;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

.logo_e {
    display: block;
    width: 200px;
    float: left;
    margin-bottom: 10PX;
}

.nav {
    float: right;
    text-align: center;

}

.nav>li {
    float: left;
    width: 224px;
}

.nav>li>a {
    display: block;
    padding: 30px 0;
    font-family: 'BinggraeSamanco-Bold', cursive;
    font-weight: 500;
    font-size: 38px;
    color: #3b2000;
}

.nav>li>a:hover {
    color: #b94538;
}

.nav li:nth-child(5) {
    background: url(./img/bg_gray.jpg) no-repeat 20px 40%;
}

/* sub */
.sub {
    position: absolute;
    width: 100%;
    left: 0;
    height: 300px;
    background: url(./img/bg_nav-11.png) no-repeat;
    display: none;
    z-index: 50;
}

.sub div {
    width: 1320px;
    margin: 0 auto;
}

.sub ul {
    float: left;
    width: 224px;
}

.sub li a {
    display: block;
    padding: 10px 0;
    margin-top: 20px;
}

.sub ul:nth-child(1) {
    display: block;
    margin-left: 200px;
}

.sub li a {
    font-size: 18px;
}

.sub li a:hover {
    font-weight: bold;
}
/* 배너 */

#banner {
    width: 100%;
}

#banner img {
    display: block;
    width: 100%;
}

h5 {
    position: absolute;
    color: #3b2000;
    right: 50%;
    top: 35%;
    font-size: 60px;
    margin-right: -67.47px;
    font-family: 'BinggraeSamanco-Bold', cursive;
}

h5 span {
    -webkit-text-stroke: 10px #fff;
}

h5 b {
    position: absolute;
    width: 100%;
    left: 0;
}

/* content1*/
.con1_inner {
    width: 1194px;
    height: 900px;
    margin: 0 auto;
    padding: 20px 50px;
    border: #b94538 1px solid;
    border: 0;
}

.con1_inner ul,
.con2_inner ul,
.con3_inner ul {
    float: left;
}

.con1_inner ul li,
.con2_inner ul li,
.con3_inner ul li{
    float: left;
    text-align: center;
}

.item {
    width: 378px;
    height: 393px;
    margin-top: 50px;
    border: double #f29780 2px;
    background-color: #fae4ae;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    position: relative;
}

.end {
    position: absolute;
    bottom: -2px;
    right: -2px;
}

.img {
    display: inline-block;
    width: 340px;
    height: 271px;
    overflow: hidden;
    margin-bottom: 10px;
}

.tit {
    display: block;
    border-bottom: #f29780 solid 2px;
    padding-bottom: 5px;
}

.data {
    display: inline-block;
    padding-top: 10px;
}


/* content2 */
.con2_inner {
    width: 1320px;
    height: 900px;
    margin: 0 auto;
    padding: 20px 60px;
}

input {
    clear: both;
    float: right;
    width: 200px;
    padding: 5px;
    outline: none;
    border: #b94538 solid 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: url(./img/search.png) 95% center no-repeat ;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

/* border */
.con2_inner table {
    clear: both;
    padding-top: 100px;
    width: 1300px;
    height: 50px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 20px;
}

.con2_inner th,
.con2_inner td {
    border-bottom: #333 solid 1px;
    padding: 8px 0;
}

.con2_inner th {
    border-top: #333 solid 1px;
    background-color: #f29680;
    color: #fff;
}

.con2_inner td:nth-child(2){
    padding-left: 180px;
}

.con2_inner tr:hover {
    background-color: #f6d7d2;
}

/* content3 */
.con3_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 50px;
    overflow: hidden;
}

.con3_inner h1{
    text-align: center;
    margin: 50px;
    padding: 20px; 
}

.border{
    border-bottom: #b94538 solid 1px;
    border-top: #b94538 solid 1px;
    text-align: center;
    margin: 20px;
    padding: 20px 0 40px;

}
.con3_inner img{
    display: inline-block;
}

.con3_inner> a{
    display: inline-block;
    border: #3b2000 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 40px;
    float: right;
    
}

.next{
  border-collapse: collapse;
    width: 1110px;
    padding: 10px;
}


.next td{
    border-top: #333 solid 1px;
    padding-left: 10px;
    padding: 5px;
} 

.next td:nth-child(3){
    text-align: right;
    padding-right: 10px;
}


.next td:nth-child(2):hover{
    font-weight: bold;
}

/* footer */
footer {
    background: url(./img/bg_footer.png) no-repeat;
    background-size: cover;
    animation: footer_up 0.5s linear infinite alternate;
}

.footer_inner {
    width: 1320px;
    margin: 0px auto;
    padding-top: 100px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
}

@keyframes footer_up {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 20px;
    }
}

.footer_inner p {
    float: left;
    padding-top: 20px;
}

.sns {
    float: right;
    overflow: hidden;
}

.sns li {
    float: left;
}

.sns li a {
    opacity: 0.5;
    padding-right: 20px;
}

.sns li a:hover {
    opacity: 1;
}

.footer_logo {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.red {
    background-color: #f29780;
    height: 50px;
    width: 100%;
}

/* top 버튼 */
.top {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 100;
}